In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Enable plots to show in the notebook
%matplotlib inline

In [3]:
import seaborn as sns
print("Seaborn is working!")

Seaborn is working!

In [4]:
import pandas as pd

# Load the dataset
df = pd.read_csv('sample_flight_data.csv')

# Preview the dataset
df.head()

,Airline,Source,Destination,Date_of_Journey,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,IndiGo,Delhi,Cochin,2024-06-01,06:00,08:00,2h,non-stop,5000
1,Air India,Kolkata,Delhi,2024-06-03,09:00,11:30,2h 30m,1 stop,6000
2,SpiceJet,Mumbai,Hyderabad,2024-06-05,12:00,14:30,2h 30m,non-stop,7000
3,Vistara,Chennai,Kolkata,2024-06-07,15:00,17:30,2h 30m,1 stop,6500
4,GoAir,Bangalore,Delhi,2024-06-09,18:00,20:30,2h 30m,2 stops,6200

In [5]:
# Dataset overview
print("Shape of dataset:", df.shape)
print("\nColumn names:\n", df.columns)
print("\nData types:\n", df.dtypes)
print("\nMissing values:\n", df.isnull().sum())

Shape of dataset: (5, 9)

Column names:
 Index(['Airline', 'Source', 'Destination', 'Date_of_Journey', 'Dep_Time',
       'Arrival_Time', 'Duration', 'Total_Stops', 'Price'],
      dtype='object')

Data types:
 Airline            object
Source             object
Destination        object
Date_of_Journey    object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Price               int64
dtype: object

Missing values:
 Airline            0
Source             0
Destination        0
Date_of_Journey    0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Price              0
dtype: int64

In [6]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Clean_Dataset.csv')

# Show the first few rows of the dataset
df.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1.0,5953.0
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1.0,5953.0
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1.0,5956.0
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1.0,5955.0
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1.0,5955.0

In [7]:
print(df.columns)

Index(['Unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time',
       'stops', 'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'],
      dtype='object')

In [8]:
# Clean the column names by stripping any leading/trailing whitespace
df.columns = df.columns.str.strip()

# Verify the columns again
print(df.columns)

Index(['Unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time',
       'stops', 'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'],
      dtype='object')

In [9]:
# Standardize all column names to lowercase
df.columns = df.columns.str.lower()

# Verify the updated column names
print(df.columns)

Index(['unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time',
       'stops', 'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'],
      dtype='object')

In [10]:
# Check for missing values
print(df.isnull().sum())

# Check data types of the columns
print(df.dtypes)

# Get descriptive statistics for numeric columns
print(df.describe())

# Preview the first few rows to check the data
print(df.head())

# Optional: Check for unique values in some columns to see if they need conversion
print(df['airline'].unique())
print(df['departure_time'].unique())

unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        1
destination_city    1
class               1
duration            1
days_left           1
price               1
dtype: int64
unnamed: 0            int64
airline              object
flight               object
source_city          object
departure_time       object
stops                object
arrival_time         object
destination_city     object
class                object
duration            float64
days_left           float64
price               float64
dtype: object
         unnamed: 0      duration     days_left         price
count  13448.000000  13447.000000  13447.000000  13447.000000
mean    6723.500000      9.790704     21.936938   6863.001264
std     3882.247545      7.005885     13.785874   4113.469784
min        0.000000      2.000000      1.000000   2281.000000
25%     3361.750000      4.250000     11.000000   3831.000000
50%     6723.500000      8.000000     18.000000   5954.000000
75%    10085.250000     13.420000     34.000000   9000.000000
max    13447.000000     36.920000     49.000000  31917.000000
   unnamed: 0   airline   flight source_city departure_time stops  \
0           0  SpiceJet  SG-8709       Delhi        Evening  zero
1           1  SpiceJet  SG-8157       Delhi  Early_Morning  zero
2           2   AirAsia   I5-764       Delhi  Early_Morning  zero
3           3   Vistara   UK-995       Delhi        Morning  zero
4           4   Vistara   UK-963       Delhi        Morning  zero

    arrival_time destination_city    class  duration  days_left   price
0          Night           Mumbai  Economy      2.17        1.0  5953.0
1        Morning           Mumbai  Economy      2.33        1.0  5953.0
2  Early_Morning           Mumbai  Economy      2.17        1.0  5956.0
3      Afternoon           Mumbai  Economy      2.25        1.0  5955.0
4        Morning           Mumbai  Economy      2.33        1.0  5955.0
['SpiceJet' 'AirAsia' 'Vistara' 'GO_FIRST' 'Indigo' 'Air_India']
['Evening' 'Early_Morning' 'Morning' 'Afternoon' 'Night' 'Late_Night']

In [11]:
# Handling missing values without using inplace=True to avoid warnings

# Fill missing values in numerical columns with the median
df['duration'] = df['duration'].fillna(df['duration'].median())
df['days_left'] = df['days_left'].fillna(df['days_left'].median())

# Fill missing values in categorical columns with the mode (most frequent value)
df['arrival_time'] = df['arrival_time'].fillna(df['arrival_time'].mode()[0])
df['destination_city'] = df['destination_city'].fillna(df['destination_city'].mode()[0])
df['class'] = df['class'].fillna(df['class'].mode()[0])

# Check for any remaining missing values
print(df.isnull().sum())

unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               1
dtype: int64

In [12]:
# Fill missing values in the 'price' column with the median value
df['price'] = df['price'].fillna(df['price'].median())

# Check if there are still any missing values
print(df.isnull().sum())

unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Apply Label Encoding for columns with fewer unique values
df['airline'] = label_encoder.fit_transform(df['airline'])
df['flight'] = label_encoder.fit_transform(df['flight'])
df['source_city'] = label_encoder.fit_transform(df['source_city'])
df['destination_city'] = label_encoder.fit_transform(df['destination_city'])

# One-Hot Encoding for categorical features with more categories
df = pd.get_dummies(df, columns=['departure_time', 'arrival_time', 'class'], drop_first=True)

# Check the transformed dataset
print(df.head())

   unnamed: 0  airline  flight  source_city stops  destination_city  duration  \
0           0        4     276            0  zero                 1      2.17
1           1        4     266            0  zero                 1      2.33
2           2        0     237            0  zero                 1      2.17
3           3        5     332            0  zero                 1      2.25
4           4        5     326            0  zero                 1      2.33

   days_left   price  departure_time_Early_Morning  departure_time_Evening  \
0        1.0  5953.0                         False                    True
1        1.0  5953.0                          True                   False
2        1.0  5956.0                          True                   False
3        1.0  5955.0                         False                   False
4        1.0  5955.0                         False                   False

   departure_time_Late_Night  departure_time_Morning  departure_time_Night  \
0                      False                   False                 False
1                      False                   False                 False
2                      False                   False                 False
3                      False                    True                 False
4                      False                    True                 False

   arrival_time_Early_Morning  arrival_time_Evening  arrival_time_Late_Night  \
0                       False                 False                    False
1                       False                 False                    False
2                        True                 False                    False
3                       False                 False                    False
4                       False                 False                    False

   arrival_time_Morning  arrival_time_Night
0                 False                True
1                  True               False
2                 False               False
3                 False               False
4                  True               False

In [14]:
from sklearn.preprocessing import StandardScaler

# Initialize StandardScaler
scaler = StandardScaler()

# Scale numerical features
df[['duration', 'days_left', 'price']] = scaler.fit_transform(df[['duration', 'days_left', 'price']])

# Check the scaled features
print(df.head())

   unnamed: 0  airline  flight  source_city stops  destination_city  duration  \
0           0        4     276            0  zero                 1 -1.087817
1           1        4     266            0  zero                 1 -1.064977
2           2        0     237            0  zero                 1 -1.087817
3           3        5     332            0  zero                 1 -1.076397
4           4        5     326            0  zero                 1 -1.064977

   days_left     price  departure_time_Early_Morning  departure_time_Evening  \
0  -1.518811 -0.221224                         False                    True
1  -1.518811 -0.221224                          True                   False
2  -1.518811 -0.220495                          True                   False
3  -1.518811 -0.220738                         False                   False
4  -1.518811 -0.220738                         False                   False

   departure_time_Late_Night  departure_time_Morning  departure_time_Night  \
0                      False                   False                 False
1                      False                   False                 False
2                      False                   False                 False
3                      False                    True                 False
4                      False                    True                 False

   arrival_time_Early_Morning  arrival_time_Evening  arrival_time_Late_Night  \
0                       False                 False                    False
1                       False                 False                    False
2                        True                 False                    False
3                       False                 False                    False
4                       False                 False                    False

   arrival_time_Morning  arrival_time_Night
0                 False                True
1                  True               False
2                 False               False
3                 False               False
4                  True               False

In [15]:
from sklearn.model_selection import train_test_split

# Define the features and target variable
X = df.drop(columns=['price'])
y = df['price']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check the split data
print(X_train.shape, X_test.shape)

(10758, 18) (2690, 18)

In [16]:
# Convert categorical features to numeric using one-hot encoding
df_encoded = pd.get_dummies(df, drop_first=True)

# Define features and target
X = df_encoded.drop(columns=['price'])
y = df_encoded['price']

# Now split the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
from sklearn.linear_model import LinearRegression

# Initialize the model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Predict on the test data
y_pred = model.predict(X_test)

# Evaluate the model
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'R² Score: {r2}')

Mean Absolute Error: 0.4555485986347448
Mean Squared Error: 0.4135154483829169
R² Score: 0.6030233142015469

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [20]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

# Evaluate
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Absolute Error:", mae)
print("Mean Squared Error:", mse)
print("R² Score:", r2)

Mean Absolute Error: 0.45554859863473407
Mean Squared Error: 0.41351544838291737
R² Score: 0.6030233142015464

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# Initialize Random Forest
rf_model = RandomForestRegressor(random_state=42)

# Train
rf_model.fit(X_train, y_train)

# Predict
y_pred_rf = rf_model.predict(X_test)

# Evaluate
mae = mean_absolute_error(y_test, y_pred_rf)
mse = mean_squared_error(y_test, y_pred_rf)
r2 = r2_score(y_test, y_pred_rf)

print(f"Random Forest - MAE: {mae}")
print(f"Random Forest - MSE: {mse}")
print(f"Random Forest - R² Score: {r2}")

Random Forest - MAE: 0.11715222630788229
Random Forest - MSE: 0.08329534889610292
Random Forest - R² Score: 0.9200360913322366

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Define the parameter grid
param_dist = {
    'n_estimators': [100, 200, 300, 500],
    'max_depth': [None, 10, 20, 30, 50],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'bootstrap': [True, False]
}

# Initialize base model
rf = RandomForestRegressor(random_state=42)

# Setup RandomizedSearchCV
random_search = RandomizedSearchCV(
    estimator=rf,
    param_distributions=param_dist,
    n_iter=50,
    cv=3,
    verbose=2,
    n_jobs=-1,
    scoring='neg_mean_squared_error'
)

# Fit to training data
random_search.fit(X_train, y_train)

# Best model from search
best_rf = random_search.best_estimator_

# Predict on test data
y_pred = best_rf.predict(X_test)

# Evaluate
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Tuned Random Forest - MAE:", mae)
print("Tuned Random Forest - MSE:", mse)
print("Tuned Random Forest - R² Score:", r2)

Fitting 3 folds for each of 50 candidates, totalling 150 fits

In [ ]:
best_random_forest = random_search.best_estimator_

In [ ]:
import joblib

# Load current feature list
feature_columns = joblib.load('model_features.pkl')

# Convert to list so we can modify it
feature_columns = list(feature_columns)

# Remove unwanted columns
for col in ['price', 'Unnamed: 0']:
    if col in feature_columns:
        feature_columns.remove(col)
        print(f"Removed: {col}")

# Save updated feature list
joblib.dump(feature_columns, 'model_features.pkl')
print("Updated feature list saved.")

In [ ]:
# Use regular NumPy indexing since X_test is a NumPy array
sample_input = X_test[0].reshape(1, -1)  # Reshape to keep it 2D for the model

# Predict the price using the best model
predicted_price = best_random_forest.predict(sample_input)

# Show the result
print(f"Predicted price: ₹{predicted_price[0]:,.2f}")

In [ ]:
import joblib

# Save the best model
joblib.dump(random_search.best_estimator_, 'best_random_forest_model.pkl')

# Save the column names from the full dataset before splitting
joblib.dump(df_encoded.columns, 'model_features.pkl')

print("Model and feature columns saved successfully.")

In [ ]:
from sklearn.preprocessing import StandardScaler
import joblib

# Assume df is your final DataFrame
X = df_encoded.drop(columns='price')
y = df_encoded['price']

# Scale y
y_scaler = StandardScaler()
y_scaled = y_scaler.fit_transform(y.values.reshape(-1, 1)).ravel()

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y_scaled, test_size=0.2, random_state=42)

# Train model
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train)

# Save everything
joblib.dump(model, 'best_random_forest_model.pkl')
joblib.dump(y_scaler, 'y_scaler.pkl')
joblib.dump(X_train.columns.tolist(), 'model_features.pkl')

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import joblib

# Load and clean data
df = pd.read_csv("Clean_Dataset.csv")
df.drop(columns=['Unnamed: 0', 'flight'], inplace=True, errors='ignore')

# Encode categorical columns
df_encoded = pd.get_dummies(df, drop_first=True)

# Drop rows where price is NaN (to ensure y is clean)
df_encoded.dropna(subset=['price'], inplace=True)

# Features and target
X = df_encoded.drop(columns=['price'])
y = df_encoded['price']

# Save feature columns
joblib.dump(X.columns.tolist(), 'model_features.pkl')

# Scale
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

y_scaler = StandardScaler()
y_scaled = y_scaler.fit_transform(y.values.reshape(-1, 1))

# Train/test split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y_scaled, test_size=0.2, random_state=42)

# Train model
model = RandomForestRegressor(random_state=42)
model.fit(X_train, y_train.ravel())

# Save model and scalers
joblib.dump(model, 'best_random_forest_model.pkl')
joblib.dump(scaler, 'scaler.pkl')
joblib.dump(y_scaler, 'y_scaler.pkl')

# Evaluate
y_pred = model.predict(X_test)
y_pred_actual = y_scaler.inverse_transform(y_pred.reshape(-1, 1))
y_test_actual = y_scaler.inverse_transform(y_test.reshape(-1, 1))

print("MAE:", mean_absolute_error(y_test_actual, y_pred_actual))
print("✅ Model, scaler, and features saved.")

MAE: 783.9890520578872
✅ Model, scaler, and features saved.